@CHARSET "UTF-8";

.bar_slider {
	z-index: 2;
}

.era-bar {
	z-index: 1;
	width: 100%;
	position: absolute;
	bottom: 50px;
	height: 30px;
	transition: height 0.2s;
}

.era-bar>div {
	position: absolute;
	height: 100%;
	background-color: white;
	border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.era-bar>.era {
	border: 1px solid rgba(0, 0, 0, 0.5);
	cursor: pointer;
	background-color: transparent;
	border-left: none;
}

.era-bar>.era:hover {
	background-color: rgba(245, 245, 220, 0.3);
}

.era-bar>.era:before {
	content: attr(data-label);
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: center;
	line-height: 30px;
}

.e-1914, .e-1941 {
	font-size: 8px;
}

.events-bar {
	position: absolute;
	bottom: 50px;
	width: 100%;
}

.events-bar>div {
	position: absolute;
	height: 50px;
	bottom: 0;
	border-left: 1px solid;
}

.events-bar>div:before {
	content: "";
	position: absolute;
	border-radius: 100%;
	width: 5px;
	height: 5px;
	background-color: white;
	border: 1px solid black;
	left: -4px;
}

.events-bar>div.b {
	height: 80px;
}

.events-bar>div.c {
	height: 65px;
}

.events-bar>div:after {
	content: attr(data-label);
	text-align: right;
	position: absolute;
	white-space: nowrap;
	top: -3px;
	background-color: white;
	padding: 0 1px;
	border-radius: 2px;
}

.events-bar>div.a:after {
	right: 6px;
}

.events-bar>div.b:after, .events-bar>div.c:after, .events-bar>div.d:after
	{
	left: 5px;
}

.timeline-graph {
	position: absolute;
	bottom: 50px;
	z-index: 1;
	padding: 2px 0;
	pointer-events: none;
	opacity: 1;
	transition: opacity 0.5s;
}

.timeline-graph.detail {
	opacity: 0;
}

.era-s:hover .era-bar {
	height: 100px;
}

.era-s:hover .timeline-graph {
	opacity: 0
}

.era-s:hover .timeline-graph.detail {
	opacity: 1
}

.timeline-graph.detail .Graph_Title {
	text-indent: 10px;
}